/* Footer.css */

.footer-link {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: white; /* Mantiene el color blanco para todos los enlaces del footer */
  }
  
  .footer-link:hover {
    text-decoration: none; /* Asegura que no aparece subrayado al pasar el mouse */
  }
  
  /* Si estás usando SCSS o si prefieres mantener el estilo en línea con Bootstrap */
  .text-white a {
    text-decoration: none;
  }
  