.footer-link {
  color: white; /* Asegura que los enlaces sean blancos */
}

.text-white, .text-white p, .text-white h5 {
  color: white !important; /* Fuerza el color blanco en todos los textos dentro de los elementos con la clase text-white */
}

/* Si deseas que todos los textos dentro del footer sean blancos sin importar su estructura */
footer.text-white * {
  color: white !important;
}