/* NavBar.css */
.navbar {
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; /* Asegúrate de que la navbar ocupe todo el ancho */
    justify-content: center; /* Centra los elementos dentro de la navbar */
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    padding-left: 2rem; /* Añade espacio a la izquierda del logo */
  }
  
  .navbar-brand img {
    max-height: 60px;
    width: auto;
  }
  
  .form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto; /* Empuja el formulario de búsqueda hacia la izquierda */
  }
  
  .navbar .form-control {
    border-radius: 20px;
    border: 1px solid #ced4da;
  }
  
  /* Estilos de botones y enlaces */
  .navbar .btn-outline-success {
    border-radius: 80px;
    border: 10;
    color: #28a745;
    background-color: #ffffff;
    padding: 0.375rem 0.75rem;
  }
  
  .navbar .btn-outline-success:hover {
    color: #fff;
    background-color: #28a745;
  }
  
  .nav-link {
    color: #555;
  }
  
  .nav-link:hover {
    color: #1e7e34;
  }
  
  .nav-dropdown {
    position: relative;
  }
  
  /* Ajustes para centrar los elementos del Navbar */
  .navbar-collapse {
    justify-content: center; /* Centra los elementos de navegación horizontalmente */
    flex-grow: 1; /* Permite que el elemento crezca */
  }
  
  /* Asegurarse de que el navbar-toggle (hamburguesa) esté alineado correctamente en vistas móviles */
  .navbar-toggler {
    align-self: center;
  }
  
  /* Estilo específico para cuando el navbar se colapsa en una vista móvil */
  @media (max-width: 991px) {
    .navbar-collapse {
      flex-basis: 100%; /* Hace que el navbar ocupe todo el ancho disponible */
      justify-content: space-between; /* Separa los elementos uniformemente */
    }
  }
  